.day{
    border: 1px;
    border-style: solid;    
    border-color: black;
    margin: 5px;
    width: 130px;
    height: 130px;
    float: left;
    line-height: 130px;
    text-align: center;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    color:firebrick;
    text-decoration: none;
}

.songFrame {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.reset {
    font-size: 0.8em;
    font-family: 'Pacifico', cursive;
    color:firebrick;
}

.intro {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    color:firebrick;
    text-align: center
}